@import url('https://fonts.googleapis.com/css?family=Bungee');
canvas {
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
}

.background {
    background-color: white;
    margin: 10px 30px 0px 30px;
    border-radius: 20px;
    border: 2px solid rgb(233, 233, 233);
	padding-bottom:30px;
	padding-right:10px;
	padding-left:10px;
}