.navbar-nav li:hover > ul.dropdown-menu {
    display: block;
}
.dropdown-submenu {
    position:relative;
}
.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top:-6px;
}

/* rotate caret on hover */
.dropdown-menu > li > a:hover:after {
    text-decoration: underline;
    transform: rotate(-90deg);
} 



 
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
}

.topnav {
  overflow: hidden;
 
}

.topnav a {
  float: left;
  color: white;
  text-align: center;
  padding: 12px 16px;
  text-decoration: none;
  font-size: 15px;
   background-color: #14777f;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color:#ddd;
  color: #ddd;
}


 
